@import url(https://fonts.bunny.net/css?family=dm-sans:400);

html {
  font-family: 'DM Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

html.dark {
  color-scheme: dark;
  background: #020420;
}

button {
  margin-right: 5px;
}
