html, body {
  height: 100vh;
  overflow: hidden;
  --uno: bg-base font-sans;
}

.dark {
  color-scheme: dark;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
