.splitpanes--vertical > .splitpanes__splitter {
  width: 4px;
  --uno: border border-base;
}

.splitpanes--horizontal>.splitpanes__splitter {
  height: 4px;
  --uno: border border-base;
}

.splitpanes--vertical .splitpanes__pane {
  transition: none;
}
