.splitpanes--vertical > .splitpanes__splitter {
  width: 4px;
  --uno: border-x border-base;
}

.splitpanes--horizontal>.splitpanes__splitter {
  height: 4px;
  --uno: border-y border-base;
}

.splitpanes--vertical .splitpanes__pane {
  transition: none;
}

.terminal.xterm {
  height: 100%;
} 
